// Bar Color

$bar-color: #FF3;

// Small devices

$screen-mb-max: 400px;

@mixin mb {
   @media (max-width: #{$screen-mb-max}) {
       @content;
   }
}

.main{
	margin:auto;
}

.heading{
	font-size:36px;
	text-align:center;
}

#container{
	margin:auto;
	@include mb {
		 max-width:100%;
		 overflow:hidden;
	}
}

.general-bar{
	display: block;
	height: 38px;
	transition:all 1s;	
}

.bar{	
	@extend .general-bar;
	border: 1px solid #cdcdcd;	
	margin-bottom: 8px;	
	overflow:hidden;
}

.inner-bar{	
	@extend .general-bar;
	width:0px;	
	text-align:center;
	background:$bar-color;
}

.bar-progress{
	color:#333;
	line-height:40px;
	font-weight:700;
}

#menu{
	list-style:none;	
	text-align:center;
	padding-left:0px;
 	
	select option{
		color:#000;
	}

	li{
		list-style:none;	
		display:inline-block;
		margin-left:2px;
		margin-right:2px;
		cursor:pointer;	
		transition:all .836s;	

		.btn{
			padding:3px;
			padding-left:8px;
			padding-right:8px;
			background: linear-gradient( #0095ff 30%, #005eff 70% );
			border:1px solid #004eb3;
			color:#fff;
			font-size:18px;
			line-height:32px;
			box-shadow:0px 0px 2px 0px #606060;
			transition:all 1s;
		}

		.btn:hover{
			background: linear-gradient( #005eff 30%, #0095ff 70% );
		}
	}
	@include mb {
		 li:nth-child(1) {
		 	 width:100%;
			 margin-bottom:4px;
		 }
	}
	
}

